# Project exclude paths
/.gradle/
/build/

/exercise43/.gradle/
/exercise42/build/
/exercise42/.gradle/
/exercise41/.gradle/
/exercise41/build/
/exercise43/build/
/exercise43/.gradle/
/exercise44/.gradle/
/exercise44/build/
/exercise45/build/
/exercise45/.gradle/
/exercise46/.gradle/
/exercise46/build/
